# Entorno virtual de Python
.venv/
env/
ENV/
venv/
*.egg-info/

# Python bytecode
_pycache_/
*.py[cod]

# Archivos temporales o del editor
*.swp
*.swo
*~
.vscode/
.idea/
.DS_Store

# Para la parte del Token dado por discord
.env
__pycache__/
*.pyc